doctype html
html
  head
    title 平板apk文件上传
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js")
  body
    block content
    block sub-js
