extends layout
block content
	.div 智能看板
	.code
		span 版本号:
		input(type='text' class='common-input' id="versionCode")
	.version-name.common
		span 版本名称:
		input(type='text' class='common-input' id="versionName")
	.msg.common
		span 更新提示
		input(type='text' class='common-input' id="msg")
	.upload.common
		span 上传:
		input(type='file' class='common-input' id='upload')
	#submit 提交
	table#table
		tr
			th 版本号
			th 版本名称
			th 更新提示
			th 下载地址
block sub-js
	script(src='/javascripts/znkb.js')
